@import url('https://fonts.googleapis.com/css?family=Roboto');

:root
{   --main-color: #4aaaa5;
    --link-color: #333333;
    --link-hover: #770000;
    --link-visited: #444444;
    --text-color: #777777;
}

*
{   box-sizing: border-box;
}

body, html
{   height: 100%;
    margin: 0;

}

body
{   background-color: #eeeeee;
    background: url("../images/128-196.jpg");
    color: var(--text-color);
    font-family: "Roboto", "Arial", "Helvitica-Nueu", Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

h2
{   color: var(--main-color);
    font-family: "Georgia", Times, "Times New Roman", serif;
    margin-top: 0px;    
}

#headshot
{   border-color: var(--text-color);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin-right: 10px;
    padding: 2px;
    vertical-align: text-top;
}

#headshot:hover
{   content: url("../images/alt-headshot.jpg")
}

.about
{   background: #ffffff;
    border-color: var(--text-color);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    margin: 0 auto;
    min-height: 150px;
    overflow: auto;
    padding: 30px;
    position: relative;
    width: 960px;
}

.about a
{   color: var(--link-color);
}

.about a:visited
{   color: var(--text-color);
    text-decoration: none;
}

.about a:hover
{   color: var(--link-hover);
}

/*                                          */
/* begin style specific to contact page     */
/*                                          */

.contact
{   padding: 5px;
    font-size: 16px;
    width: 100%;
}

textarea
{   height: 115px;
}

button
{   background: var(--main-color);
    border-color: var(--main-color);
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    color: #ffffff;
    font-family: "Georgia", Times, "Times New Roman", serif;
    padding: 5px;
}

/*                                          */
/* begin style specific to nav bar          */
/*                                          */

header
{   background: #ffffff;
    border-bottom-color: var(--text-color);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 69px;
    margin: 0 auto 20px;
    overflow: auto;
    width: 100%;
}

.header
{   margin: 0 auto;
    width: 960px;
}

nav
{   padding: 20px;
    float: right;
}

nav a
{   color: var(--text-color);
    font-size: 18px;
    margin-right: 10px;
    text-decoration: none;
}

nav a:hover
{   color: #000000;
    text-decoration: none;
}

h1
{   background: var(--main-color);
    color: white;
    float: left;
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-size: 24px;
    padding: 20px;
    position: absolute;
    margin: 0px;
    top: 0px;
}

/*                                          */
/* begin style specfiic to portfolio        */
/*                                          */

.app-container
{   display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.app-div
{   border: 1px solid var(--text-color);
    border-radius: 2px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 2px;
    position: relative;
    width: 309px;
}

.app-div img
{   border: 1px solid gray;
    border-radius: 2px;
    width: 100%;
}

.app-title
{   color: var(--main-color);
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-size: 18px;
    padding: 5px;
}

.app-links
{   display: flex;
    justify-content: space-between;
}

.app-link
{   background: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 2px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 48%;
}

.app-link:hover
{   background: white;
    color: var(--main-color);
}

.app-link:visited
{   color: white;
}

/*                                          */
/* begin style specfiic to "sticky" footer  */
/*                                          */

.wrapper
{   margin-bottom: -45px;
    min-height: 100%;
}

.push
{   height: 45px;
}

footer
{   background: #666666;
    bottom: 0px;
    color: #888888;
    font-size: 10pt;
    margin-top: 19px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

/*                                          */
/* end style specific to "sticky" footer    */
/*                                          */

@media screen and (max-width: 980px)
{   .about, .header
    {   width: 75%;
    }

    .app-row
    {   width: 306px;
    }
}

@media screen and (max-width: 768px)
{   .about, .header
    {   width: 85%;
    }

    .app-row, .app-div, .app-div img
    {   width: 100%;
    }
}

@media screen and (max-width: 640px)
{   header
    {   height: 84px;
    }

    .header
    {   width: 100%;
    }

    h1
    {   display: block;
        font-size: 24px;
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    nav
    {   display: flex;
        float: none;
        font-weight: normal;
        justify-content: space-around;
        padding: 6px;
        position: relative;
        top: 47px;
    }

    #headshot, .app-image
    {   float: none;
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
        width:100%;
    }
}
